<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">
    <title>
        asd
    </title>
</head>
<body>
<div th:replace="layout/header :: header(empirePage = true)">
</div>
<div class="container">
    <h2>Resources</h2>
    <table>
        <tr>
            <td>Food</td>
            <td th:text="${planet.food}"></td>
        </tr>
        <tr>
            <td>Population</td>
            <td th:text="${planet.population}"></td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Buildings</h2>

    <table>
        <tr>
            <td>Village</td>
            <td th:text="${planet.villages}"></td>
        </tr>
    </table>
</div>

<div th:replace="layout/footer :: footer">
</div>
</body>
</html>